<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Suibianzou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EB204FA1F6B9A2300BDE2DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB205131F6B9A2400BDE2DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EB2051E1F6B9A2400BDE2DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
